/*last css to be applied*/

.c3-grid line {
  stroke: none;
}

.c3-axis-x > path.domain, .tick > line[x2="-6"] {
  visibility: hidden;
}

.blankSpace{
	height: 200px;
	width: 100px;
	background-color: #0066ff;
}